
 /* Generic Styling */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-family: 'Roboto', sans-serif;
     list-style: none;
     text-decoration: none;
 }
 
 /* Effect for Button */

 .btn{
        transition: all .40s;
        transform: scale(0.9);
 }

 /* Effect for the Card */
 .card:hover{
    transition: all .40s;
    transform: scale(0.9);
 }
